$background-z-index: -1;

.Background {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: $background-z-index;

  left: 0;
  margin-top: -$Theme-margin-large;
}

.BackgroundColumn{
  width: 100%;
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
}

.BackgroundColumn--rightAlign {
  background-position: 100%;
};

.BackgroundColumn--blue {
  background-color: $Theme-color-blue;
}

.BackgroundColumn--green {
  background-color: $Theme-color-green;
}

.BackgroundColumn--white {
  background-color: $Theme-color-white;
}

.BackgroundColumn--imageServices {
  background-image: url('../images/services@2x.jpg');
}

.BackgroundColumn--imageMentorship {
  background-image: url('../images/mentorship@2x.jpg');
}

.BackgroundColumn--imageNetworking {
  background-image: url('../images/networking@2x.jpg');
  background-position: 0% 100%;
}

@media (max-width: $Theme-break-mobile) {
  .Background {
    display: none;
  }
}
