$button-width: 180px;
$button-height: 50px;
$button-transtition-duration: 0.3s;

$button-width-mobile: 150px;

.Button {
  @include font-properties(sans, desktop, content, small);

  display: block;

  width: $button-width;
  height: $button-height;
  padding: 0;

  background-color: $Theme-color-red;

  color: $Theme-color-white;
  text-align: center;
  text-transform: uppercase;
  line-height: $button-height;

  cursor: pointer;
}

.Button--outline {
  background: none;

  border: 1px solid $Theme-color-white;
}

.Button:hover {
  background-color: darken($Theme-color-red, 15%);

  transition: background-color $button-transtition-duration;
}

.Button--outline:hover {
  background-color: rgba(255, 255, 255, 0.15);

  transition: background-color $button-transtition-duration;
}

@media (max-width: $Theme-break-mobile) {
  .Button {
    @include font-properties(sans, mobile, content, small);

    width: $button-width-mobile;

    margin: 0 auto;

    line-height: $button-height;
  }
}
