.Footer {
  padding: $Theme-margin-default;
  background-color: $Theme-color-blue;
}

.Footer-content {
  @include font-properties(sans);

  margin-top: $Theme-margin-half;

  color: $Theme-color-white;
  font-weight: bold;
}

@media (max-width: $Theme-break-mobile) {
  .Footer {
    padding: $Theme-margin-half $Theme-margin-small;
  }

  .Footer-content {
    @include font-properties(sans, mobile);
  }
}
