$svg-width: 151px;
$svg-height: 21px;
$svg-margin-top: 12px;

$svg-width-mobile: 114px;
$svg-height-mobile: 16px;

$icon-size: 25px;

$footer-break-navlinks: 940px;

.Footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: $Theme-margin-default;
  background-color: $Theme-color-blue;
}

.Footer-links {
  @include font-properties(sans, desktop, content, small);
  
  display: flex;
  flex-direction: column;
}

.Footer-link {
  text-transform: uppercase;
  color: $Theme-color-white;
  font-weight: bold;

  &:hover {
    opacity: $Theme-opacity-half;
    transition: opacity 0.4s
  }
}

.Footer-content {
  @include font-properties(sans, desktop, content, small);
  display: flex;
  flex-direction: column;
  padding-top: $Theme-margin-small;

  color: $Theme-color-white;
}

.Footer-column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.Footer-credits {
  @include font-properties(sans, desktop, content, small);

  align-self: flex-end;
  color: $Theme-color-white;
  text-align: center;
  text-transform: uppercase;
}

.Footer-svgWrapper {
  width: $svg-width;
  height: $svg-height;

  margin-top: $svg-margin-top;
  margin-bottom: 8px;
}

.Footer-socialIcon {
  width: $icon-size;
  height: $icon-size;

  &.Footer-socialIcon--withMargin {
    margin-right: $Theme-margin-small;
  }
}

@media (max-width: $footer-break-navlinks) {

  .Footer-links {
    display: none;
  }

  .Footer {
    padding: $Theme-margin-half $Theme-margin-small;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Footer-column {
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .Footer-credits {
    @include font-properties(sans, mobile, content, small);

    margin-top: $Theme-margin-half;

  }

  .Footer-svgWrapper {
    width: $svg-width-mobile;
    height: $svg-height-mobile;
  }
}
