$hero-max-width: 600px;

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $Theme-margin-large $Theme-margin-default;

  color: $Theme-color-white;
  background-color: $Theme-color-light-blue;
  background-image: url('../images/hero@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Hero--experts {
  background-image: url('../images/experts@2x.png');
}

.Hero-title {
  margin-top: $Theme-margin-default;

  text-align: center;
  text-transform: uppercase;
}

.Hero-heading {
  @include font-properties(sans, desktop, hero, base);
}

.Hero-subHeading {
  @include font-properties(serif, desktop, hero, large);

  font-style: italic;
}

.Hero-content {
  @include font-properties(serif, desktop, hero, small);

  max-width: $hero-max-width;

  margin-top: $Theme-margin-half;

  text-align: center;
}

@media (max-width: $Theme-break-mobile) {
  .Hero {
    padding: $Theme-margin-default $Theme-margin-small;

    background-image: url('../images/hero.jpg');
  }

  .Hero-title {
    margin-top: $Theme-margin-half;
  }

  .Hero-heading {
    @include font-properties(sans, mobile, hero, base);
  }

  .Hero-subHeading {
    @include font-properties(serif, mobile, hero, large);
  }

  .Hero-content {
    @include font-properties(serif, mobile, hero, small);

    margin-top: $Theme-margin-small;
  }
}
