$logo-width: 149px;
$logo-height: 100px;

$logo-width-mobile: 75px;
$logo-height-mobile: 50px;

.Logo {
  width: $logo-width;
  height: $logo-height;

  background-image: url('../images/logo@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Logo.Logo--half {
  width: $logo-width / 2;
  height: $logo-height / 2;
}

@media (max-width: $Theme-break-mobile) {
  .Logo {
    width: $logo-width-mobile;
    height: $logo-height-mobile;
  }

  .Logo.Logo--half {
    width: $logo-width-mobile;
    height: $logo-height-mobile;
  }
}
