$nav-height: 80px;
$nav-height-mobile: 60px;

$nav-logo-width: 75px;
$nav-logo-height: 50px;

$nav-logo-mobile-width: 52px;
$nav-logo-mobile-height: 35px;

$nav-burger-width: 25px;
$nav-burger-height: 16px;

$nav-break-mobile: 798px;

.Nav {
  width: 100%;
  height: $nav-height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  background-color: $Theme-color-white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;

  transition: all 0.3s;
}

.Nav-logo {
  width: $nav-logo-width;
  height: $nav-logo-height;

  margin-left: $Theme-margin-small;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/logo-light-blue@2x.png');
}

.Nav-links {
  display: flex;
  flex-direction: row;
}

.Nav-link {
  @include font-properties(sans, desktop, content, small);

  margin: 0 $Theme-margin-small;

  color: $Theme-color-light-blue;
  text-transform: uppercase;

  &:hover {
    color: $Theme-color-blue;

    transition: color 0.4s;
  }
}

.Nav-burger {
  width: $nav-burger-width;
  height: $nav-burger-height;

  display: none;

  margin-right: $Theme-margin-small;

  cursor: pointer;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/hamburger@2x.png');
}

.Nav.Nav--onTopIndex {
  background: none;
  box-shadow: none;
  justify-content: flex-end;

  .Nav-logo {
    display: none;
  }

  .Nav-link {
    color: $Theme-color-white;

    &:hover {
      color: $Theme-color-blue;

      transition: color 0.4s;
    }
  }

  .Nav-burger {
    background-image: url('../images/hamburger_white@2x.png');
  }

  transition: all 0.6s;
}

.Nav.Nav--onTop {
  background: none;
  box-shadow: none;

  .Nav-logo {
    background-image: url('../images/logo@2x.png');
  }
  .Nav-link {
    color: $Theme-color-white;

    &:hover {
      color: $Theme-color-blue;

      transition: color 0.4s;
    }
  }

  .Nav-burger {
    background-image: url('../images/hamburger_white@2x.png');
  }

  transition: all 0.6s;
}

@media (max-width: $nav-break-mobile) {
  .Nav {
    height: $nav-height-mobile;

    justify-content: space-between;
  }

  .Nav-logo {
    width: $nav-logo-mobile-width;
    height: $nav-logo-mobile-height;
  }

  .Nav-links {
    display: none;
  }

  .Nav-burger{
    display: block;
  }
}