$panel-title-image-width: 32px;
$panel-title-image-height: 55px;
$panel-title-image-margin: 5px;

$panel-title-image-moblie-width: 23.6px;
$panel-title-image-moblie-height: 40.6px;

$panel-content-max-width: 500px;

.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $Theme-margin-large $Theme-margin-half;

  background-repeat: no-repeat;

  color: $Theme-color-blue;
}

.Panel-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-bottom: $Theme-margin-half;
}

.Panel-heading {
  @include font-properties(sans, desktop, content, heading);

  font-weight: bold;
  text-transform: uppercase;

  opacity: $Theme-opacity-half;
}

.Panel-subHeading {
  @include font-properties(serif, desktop, content, sub-heading);

  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}

.Panel-titleImage {
  width: $panel-title-image-width;
  height: $panel-title-image-height;

  padding-bottom: $panel-title-image-margin;

  background-image: url('../images/lighthouse@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Panel-content {
  @include font-properties(sans);

  max-width: $panel-content-max-width;
}

.Panel-text {
  @include font-properties(serif);

  color: $Theme-color-black;
  opacity: $Theme-opacity-black;
  text-align: center;
}

.Panel--blue {
  color: $Theme-color-white;

  .Panel-titleImage {
    background-image: url('../images/lighthouse-white@2x.png');
  }
}

.Panel--solidBlue {
  background-color: $Theme-color-blue;
}

.Panel--solidWhite {
  background-color: $Theme-color-white;
}

.Panel--cta {
  background-image: url('../images/cta@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: $Theme-break-mobile) {
  .Panel {
    padding: $Theme-margin-default $Theme-margin-small;
  }

  .Panel-title {
    margin-bottom: $Theme-margin-half;
  }

  .Panel-heading {
    @include font-properties(sans, mobile, content, heading);
  }

  .Panel-subHeading {
    @include font-properties(serif, mobile, content, sub-heading);
  }

  .Panel-content {
    @include font-properties(sans, mobile);
  }

  .Panel-text {
    @include font-properties(serif, mobile);
  }

  .Panel-titleImage {
    width: $panel-title-image-moblie-width;
    height: $panel-title-image-moblie-height;
  }

  .Panel--noPaddingTop {
    padding-top: 0;
  }

  .Panel--services {
    background-size: cover;
    background-image: url('../images/services.jpg');
    background-position: 0 0;
  }

  .Panel--mentorship {
    background-size: cover;
    background-image: url('../images/mentorship.jpg');
    background-position: 0 0;
  }

  .Panel--networking {
    background-size: cover;
    background-image: url('../images/networking.jpg');
    background-position: 0 0;
  }
}
