$panel-title-image-width: 32px;
$panel-title-image-height: 55px;
$panel-title-image-margin: 5px;

$panel-content-max-width: 500px;

.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $Theme-margin-large $Theme-margin-default;

  color: $Theme-color-blue;
}

.Panel-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Panel-titleSans {
  @include font-properties(sans);
  opacity: 0.5;
  font-size: 28px;
  text-transform: uppercase;
}

.Panel-titleSerif{
  @include font-properties(serif);
  line-height: 40px;
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}

.Panel-titleImage {
  width: $panel-title-image-width;
  height: $panel-title-image-height;

  padding-bottom: $panel-title-image-margin;

  background-image: url('../images/lighthouse@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Panel-content{
  @include font-properties(sans);

  margin-top: $Theme-margin-half;
  max-width: $panel-content-max-width;
}

.Panel-text {
  @include font-properties(serif);

  color: $Theme-color-black;
  opacity: 0.6;
  font-size: 20px;
  text-align: center;
}

.Panel--blue {
  background-color: $Theme-color-blue;

  color: $Theme-color-white;

  .Panel-titleImage {
    background-image: url('../images/lighthouse-white@2x.png');
  }
}

.Panel--services {
  background-image: url('../images/services@2x.png');
  background-size: contain;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.Panel--cta {
  background-image: url('../images/cta@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
}
