$person-job-margin: 5px;
$person-image-size: 200px;
$person-name-max-width: 200px;
$person-link-icon-size: 25px;

.Person {
  display: flex;
  flex-direction: row;

  margin-bottom: $Theme-margin-default;
}

.Person-information {
  display: flex;
  flex-direction: column;

  width: $person-name-max-width;
  margin-left: $Theme-margin-small;

  color: $Theme-color-white;
}

.Person-image {
  width: $person-image-size;
  height: $person-image-size;
}

.Person-name {
  @include font-properties(sans);

  text-transform: uppercase;
}

.Person-job {
  @include font-properties(serif, desktop, content, small);

  margin-top: $person-job-margin;
  text-transform: capitalize;

  opacity: $Theme-opacity-white;
  font-weight: bold;
}

.Person-company {
  @include font-properties(serif, desktop, content, large);

  margin-top: $Theme-margin-small;
  text-transform: capitalize;

  opacity: $Theme-opacity-white;
  font-style: italic;
}

.Person-link {
  width: $person-link-icon-size;
  height: $person-link-icon-size;
  margin-top: $Theme-margin-small;
}

.Person--dark {
  .Person-information {
    color: $Theme-color-blue;
  }

  .Person-job,
  .Person-company {
    opacity: $Theme-opacity-black;
  }
}

.Person--noMargin {
  margin: 0;
}
