$sponsor-cell-height: 80px;

.SponsorGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: $Theme-margin-half;
}

.SponsorGrid-cell {
  max-width: 100%;
  height: $sponsor-cell-height;
  margin: $Theme-margin-small $Theme-margin-half;
}

@media (max-width: $Theme-break-mobile) {
  .SponsorGrid {
    margin-top: 0;
  }
}
