$column-min-width: 250px;
$column-max-width: 500px;

.TwoColumnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.TwoColumnContainer-column {
  flex: 1 1 $column-min-width;
  min-width: $column-min-width;
  max-width: $column-max-width;

  font-size: 20px;
  line-height: 30px;

  margin-top: $Theme-margin-half;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $Theme-margin-small;
}

.TwoColumnContainer-title {
  @include font-properties(sans);

  font-weight: bold;
  text-transform: uppercase;
}

.TwoColumnContainer-contentWhite {
  @include font-properties(serif);

  margin-top: $Theme-margin-small;

  color: $Theme-color-white;
  opacity: 0.7;
}

.TwoColumnContainer-contentBlack {
  @include font-properties(serif);

  margin-top: $Theme-margin-small;

  color: $Theme-color-black;
  opacity: 0.6;
}
