.u-marginDefault {
  margin: $Theme-margin-half 0 $Theme-margin-default 0;
}

.u-marginHalf {
  margin: $Theme-margin-half 0 0 0;
}

.u-marginSmall {
  margin: $Theme-margin-small 0 0 0;
}

.u-noMaringTop {
  margin-top: 0;
}
.u-marginBottomSmall {
  margin-bottom: $Theme-margin-small;
}
